@mixin self-clear(){
  &:before, &:after{
    content: '';
    display: table;
  }
  &:after{
    clear: both;
  }
}

@mixin grid($totalColumns: 12){
  @for $i from 1 through $totalColumns{
    .span#{$i}{
      width: ($i / $totalColumns) * 100%;
    }
  }
}

@mixin offsets($totalColumns: 12){
  @for $i from 1 through ($totalColumns - 1){
    &.offset#{$i}{
      margin-left: ($i / $totalColumns) * 100%;
    }
  }
}