// Font stuff
$baseSize: 14px;
$fontBaseStack: Arial, Helvetica, Verdana, sans-serif;
$fontStack: "adelle-sans", $fontBaseStack;
$headlineStack: "adelle", $fontBaseStack;
$headlineBoldStack: $headlineStack;

// Colors
$backgroundColor: #f1f1ee;
$bodyTextColor: #555;
$primaryColor: #007AB6;
$linkColor: $primaryColor;
$white: #f1f1f1;
$inputBorderColor: #999;
$alertNoticeColor: $primaryColor;
$alertSuccessColor: #00ab1c;
$alertErrorColor: #da421f;

$secondaryButtonColor: #ddd;

// Sizes
$portfolioPreviewSize: 230px;
$containerWidth: 1200px;
$spacing: 20px;
$gridGutter: 20px;

@mixin font-size($newSize){
  font-size: $newSize;
  font-size: ($newSize / 10px)rem;
}

@mixin font-smoothing($option){
  -webkit-smoothing: $option;
  -moz-smoothing: $option;
  -o-smoothing: $option;
  font-smoothing: $option;
}