// Font stuff
$baseSize: 18px;
$fontBaseStack: Arial, Helvetica, Verdana, sans-serif; // Base is meant for writing the rest of the stack out.
$fontStack: "franklin-gothic-urw", $fontBaseStack;
$headlineStack: "franklin-gothic-urw-comp", $fontBaseStack;
$primaryHeadlineStack: "abril-display", $fontBaseStack;
$headlineBoldStack: $headlineStack;

// Colors
$backgroundColor: #f1f1ee;
$bodyTextColor: #555;
$primaryColor: #007AB6;
$headlineColor: #3a3a3a;
$linkColor: $primaryColor;
$white: #f1f1f1;
$inputBorderColor: #999;
$alertNoticeColor: $primaryColor;
$alertSuccessColor: #00ab1c;
$alertErrorColor: #da421f;

$secondaryButtonColor: #ddd;

// Sizes
$portfolioPreviewSize: 230px;
$containerWidth: 1200px;
$spacing: 20px;
$gridGutter: 20px;

// Breakpoints
$breakpointSingleColumn: 700px;
$breakpointLargeMobile: 550px;
$breakpointNav: 800px;

// Font Mixins
@mixin font-size($newSize){
  font-size: $newSize;
  font-size: ($newSize / 10px)rem;
}

@mixin font-smoothing($option){
  -webkit-smoothing: $option;
  -moz-smoothing: $option;
  -o-smoothing: $option;
  font-smoothing: $option;
}

@mixin stackPrimaryHeadline(){
  font-family: $primaryHeadlineStack;
  font-weight: 400;
}

@mixin stackHeadline(){
  font-family: $headlineStack;
  font-weight: 400;
}

@mixin stackBody(){
  font-family: $fontStack;
  font-weight: 400;
}

@mixin stackBodyBold(){
  font-family: $fontStack;
  font-weight: 700;
}

@mixin stackQuote(){
  font-family: $fontStack;
  font-weight: 300;
}