html{
  font-size: ($baseSize / 16px) * 100%;
}
body{
  background: #fff;
  color: $bodyTextColor;
  font-family: $fontStack;
  @include font-size($baseSize);
  font-weight: 500;
  line-height: 1.3;
  @include font-smoothing(antialiased);
  text-rendering: optimizeLegibility;
  -webkit-widows: 2;
  widows: 2;
}
.siteWrapper{
  background: $backgroundColor url(img/background-light.jpg);
}

// Font basics
p{
  line-height: 24px;
  margin: 0 0 24px;

  &.center{
    text-align: center;
  }
  &.right{
    text-align: right;
  }
}
strong, b{ font-weight: 600; }
em, i{ font-style: oblique; }

// Headings
h1,h2,h3,h4,h5,h6{
  font-family: $headlineStack;
  font-weight: 100;

  strong{
    font-family: $headlineBoldStack;
    font-weight: 600;
  }

  &.center{
    text-align: center;
  }
  &.right{
    text-align: right;
  }

  small{
    font-family: $fontBaseStack;
    font-weight: normal;
  }
}
h1{
  @include font-size(32px);
  // font-weight: 300;
  line-height: 36px;
  margin: 18px 0;
}
h2{ 
  @include font-size(18px);
  font-weight: 600;
  line-height: 24px;
  margin: 1em 0 7px;
}
h3{ 
  @include font-size(16px);
  font-weight: 600;
  line-height: 22px;
  margin: 1em 0 7px;
}
h4{ @include font-size(14px); }
h4, h5, h6{ 
  font-family: $fontStack;
  font-weight: 600;
}




blockquote{
  font-family: $headlineStack;
  @include font-size(19px);
  font-style: oblique;
  line-height: 16px;
  margin: 2em;
  position: relative;

  p{
    line-height: 22px;
    text-align: center;
    position: relative;
    z-index: 5;
  }

  &:before, &:after{
    color: #ddd;
    content: "“";
    @include font-size(100px);
    font-family: fontStack;
    font-style: normal;
    font-weight: 700;
    left: -40px;
    position: absolute;
    top: 20px;
    z-index:1;
  }
  &:after{
    content: "”";
    left: auto;
    right: -40px;
  }

  cite{
    display: block;
    font-family: $fontStack;
    @include font-size(11px);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;

    &:before{
      content: '—';
    }

    .job{
      font-weight: normal;
      text-transform: none;
    }
  }
}
pre{
  background: #fff;
  border: 1px solid #ddddd9;
  padding: 10px 20px;
  margin: 24px 0;
}
code{
  font-family: Monaco, Courier, "New Courier", sans-serif;
  @include font-size(13px);
}
small{
  color: #777;
  font-size: .75em;
}

// Lists
ul{
  list-style: disc;
  margin: 0 1em 1em 1.3em;
}
ol{
  list-style: decimal;
  margin: 0 1em 1em 1.5em;
}
li{
  margin: .5em 0;
}

// Links
a{
  color: $linkColor;
  text-decoration: none;

  &:hover, &:focus{
    outline:0 none transparent;
    text-decoration: underline;
  }
}

a.text.button{
  color: lighten($bodyTextColor, 30%);
  @include font-size(13px);
  vertical-align: middle;

  &:hover{
    color: #000;
    text-decoration: none;
  }
}

.sectionLabel{
  color: #aaa;
  @include font-size(12px);
  font-family: $headlineBoldStack;
  font-weight: 600;
  margin: 2em 0 .5em;
  text-align: center;
  text-transform: lowercase;

  &.left{
    text-align: left;
  }
}

ul.portfolioPreviews{
  list-style: none none;
  margin: 0 auto;
  padding: 0;
  width: ($portfolioPreviewSize + 20px) * 2 + 20px;

  li, a{
    display: block;
    height: $portfolioPreviewSize;
    width: $portfolioPreviewSize;
  }
  li{
    float: left;
    border: 1px solid darken($backgroundColor, 10%);
    height: $portfolioPreviewSize + 20px;
    margin-right: 12px;
    width: $portfolioPreviewSize + 20px;

    &:last-child{
      margin-right: 0;
    }
    a{
      border: 10px solid darken($backgroundColor, 5%);
      overflow: hidden;
      position: relative;
      height: $portfolioPreviewSize;
      width: $portfolioPreviewSize;

      img{
        border: 1px solid darken($backgroundColor, 10%);
        height: $portfolioPreviewSize - 1px;
        width: $portfolioPreviewSize - 1px;
      }

      .overlay{
        display: table-cell;
        @include background( radial-gradient(rgba(0,0,0,.5), #000 250px) );
        height: $portfolioPreviewSize;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        @include transition(all .3s ease-in-out);
        width: 100%;
        vertical-align: bottom;
      }
      &:hover .overlay{
        opacity: .99;
      }
      h3{
        color: #fff;
        font-family: $headlineBoldStack;
        @include font-size(16px);
        height: 0;
        margin: #{$portfolioPreviewSize/2 - 10px} 0 0;
        text-align: center;
        @include text-shadow(rgba(0,0,0,.5) 1px 1px 1px);
        vertical-align: bottom;

        span{
          font-family: $fontStack;
          @include font-size(12px);
          font-style: oblique;
          display: block;
        }
      }
    }
  }
}