// Do not include any style in base that should not be imported into the Rich Text Editor
body{
  background: #fff;
  min-width: 320px;
}
.siteWrapper{
  background: $backgroundColor url(img/background-light.jpg);
  @include self-clear;
  // padding-top: 20px;
}
.positioned{
  position: relative;
}
.wf-loading{
  opacity: 0;
}
.wf-active, .wf-inactive{
  opacity: 1;
  // @include transition(opacity .5s ease-in-out);
}