.button, button, input[type="submit"], input[type="button"]{
  @include background( #333 linear-gradient(top, lighten(#333, 10%), #333 ) );
  border: none;
  color: #fff;
  cursor: pointer;
  @include font-size(14px);
  height: 44px;
  padding: 0 20px;
  -webkit-appearance: none;

  &:hover, &:focus{
    background: lighten(#333, 10%);
  }
}