.container{
  @include box-sizing(border-box);
  margin: 0 auto;
  max-width: $containerWidth;
  padding: 0 $spacing;
  width: 100%;

  @include self-clear;
}

.columns, .column{
  @include box-sizing(border-box);
  float: left;
  padding: 0 $gridGutter/2;

  &.noPad{
    padding: 0;
  }
}

.row, .clearfix{
  @include self-clear;
  width: 100%;

  &.reverse .columns, &.reverse .column{
    float: right;
    // Fix nested columns
    .columns, .column{
      float: left;
    }
  }
}
.row{
  margin-bottom: $gridGutter;
}

// Grid
.one{ @include grid-column(1); }
.two{ @include grid-column(2); }
.three{ @include grid-column(3); }
.four{ @include grid-column(4); }
.five{ @include grid-column(5); }
.six{ @include grid-column(6); }
.seven{ @include grid-column(7); }
.eight{ @include grid-column(8); }
.nine{ @include grid-column(9); }
.ten{ @include grid-column(10); }
.eleven{ @include grid-column(11); }
.twelve{ @include grid-column(12); }

// Offsets
.offset-one{ @include offset-column(1); }
.offset-two{ @include offset-column(2); }
.offset-three{ @include offset-column(3); }
.offset-four{ @include offset-column(4); }
.offset-five{ @include offset-column(5); }
.offset-six{ @include offset-column(6); }
.offset-seven{ @include offset-column(7); }
.offset-eight{ @include offset-column(8); }
.offset-nine{ @include offset-column(9); }
.offset-ten{ @include offset-column(10); }
.offset-eleven{ @include offset-column(11); }

// Nested Grids (1 level only)
.four{
  .one{ @include grid-column(1, 4); }
  .two{ @include grid-column(2, 4); }
  .three{ @include grid-column(3, 4); }
  .four{ @include grid-column(4, 4); }
}
.five{
  .one{ @include grid-column(1, 5); }
  .two{ @include grid-column(2, 5); }
  .three{ @include grid-column(3, 5); }
  .four{ @include grid-column(4, 5); }
  .five{ @include grid-column(5, 5); }
}

// Specifics
.sidebar.column, .sidebar.columns{
  padding: 0 0 0 $spacing;
  position: relative;
  left: 10px;
}