// Changing the box model for the grid
.container, .columns, .column, .row, .clearfix{ @include box-sizing(border-box); }

// Implement self clearing for floats
.container, .row, .clearfix{ 
  @include self-clear; 
  width: 100%;
}

// Basic grid set-up
.container{
  margin: 0 auto;
  max-width: $containerWidth;
}

.columns, .column{
  float: left;
  padding: 0 $gridGutter/2;
}

.row{
  margin-bottom: $gridGutter;
}

// Grid Columns
@include grid(12);

// Offsets
.columns, .column{
  @include offsets(12);
}

@include breakpoint("single column"){
  @include grid(12, true);
  .columns, .column{
    @include offsets(12, true);
  }
}

// Add more padding once the container edges touch the side of the screen
@media screen and (max-width: $containerWidth + 20px){
  .container{
    padding: 0 $gridGutter;
  }
}