// Changing the box model for the grid
.container, .columns, .column, .row, .clearfix{ @include box-sizing(border-box); }

// Implement self clearing for floats
.container, .row, .clearfix{ 
  display: block;
  @include self-clear; 
  width: 100%;
}

// Basic grid set-up
.container{
  margin: 0 auto;
  max-width: $containerWidth;
}

.columns, .column{
  display: block;
  float: left;
  padding: 0 $gridGutter/2;
}
.reverse .columns, .reverse .column{
  float: right;
}

.row{
  margin-bottom: $gridGutter;
}

// Grid Columns
@include grid(12);

// Offsets
.columns, .column{
  @include offsets(12);
}

// Add more padding once the container edges touch the side of the screen
@include breakpoint($containerWidth + 20px){
  .container{
    padding: 0 $gridGutter;
  }
}

@include breakpoint($breakpointSingleColumn){
  .container{
    padding: 0 $gridGutter/2;
  }
  .reverse .columns, .reverse .column, .columns, .column{
    float: none;
  }

  @include grid(12, true);
  .columns, .column{
    @include offsets(12, true);
  }
}

