.logo{
  background: transparent url(img/e-logo.svg) no-repeat 0 0;
  @include box-sizing(border-box);
  color: #555;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 200;
  height: 61px;
  letter-spacing: 8px;
  line-height: 0;
  overflow: hidden;
  padding: 31px 0 0 80px;
  text-transform: uppercase;
  width: 385px;
  white-space: nowrap;

  &:hover, &:focus{
    text-decoration: none;
  }
}
.no-svg .logo{
  background-image: url(img/e-logo.png);
}
#branding .logo{
  left: 20px;
  position: absolute;
  top: 20px;
}
#primaryNav{
  margin-top: 27px;
  text-transform: lowercase;
}
#branding{
  @include box-sizing(border-box);
  // background: #fff;
  // box-shadow: rgba(0,0,0,.15) 0 1px 1px;
  height: 141px;
  margin: 0 0 80px;
  padding: 40px 0;
}

#primaryNav a{
  color: $bodyTextColor;
  font-family: $headlineStack;
  line-height: 44px;
  padding:0 20px;
  @include font-size(16px);
  @include transition(color 0.3s);

  &:hover, &:focus{
    color: $linkColor;
    text-decoration: none;
  }
}

.horizontal.nav{
  float: right;
  margin-top: 7px;
}

@include breakpoint($breakpointNav){
  .logo{
    padding: 0;
    width: 60px;
  }
  #branding{
    height: auto;
    padding: 40px 0;
    margin-bottom: 20px;

    .logo{
      margin: 0 auto;
      position: static;
    }
  }

  #primaryNav{
    float: none;
    margin-top: 20px;
    text-align: center;

    li{
      display: inline-block;
      float: none;
    }
  }
}


.project #branding{
  @include background( linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0)) );
  #logo a{
    background: url(img/e-logo-white.png) no-repeat 0 0;

    img{
      opacity: 0;
    }
  }
}

#siteFooter{
  background: #fff;
  border-top: 1px solid darken($backgroundColor, 5%);
  margin-top: 0;
  padding: 40px 0 20px 0;

  .social{
    float: right;
  }
  .copyright{
    @include font-size(11px);
    color: #777;
    font-style: oblique;
    line-height: 13px;
    margin-top: 5px;

    a{
      color: #777;
    }
  }
}
