#branding{
  // background: #fff;
  padding: 20px 0;
  position: relative;
  top: -1px;
  z-index:99;

  #logo{
    background: transparent url(img/e-logo.png) no-repeat 0 0;
    background-image: url(img/e-logo.svg);
    display: block;
    height: 60px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }
  
  nav{
    ul{
      float: right;
      margin-top: 7px;
    }
    a{
      color: $bodyTextColor;
      font-family: $headlineStack;
      line-height: 44px;
      padding:0 20px;
      @include font-size(16px);
      @include transition(color 0.3s);

      &:hover, &:focus{
        color: $linkColor;
        text-decoration: none;
      }
    }
  }
}

.project #branding{
  @include background( linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0)) );
  #logo a{
    background: url(img/e-logo-white.png) no-repeat 0 0;

    img{
      opacity: 0;
    }
  }
}

#siteFooter{
  background: #fff;
  border-top: 1px solid darken($backgroundColor, 5%);
  margin-top: 0;
  padding: 40px 0 20px 0;

  .social{
    float: right;
  }
  .copyright{
    @include font-size(11px);
    color: #777;
    font-style: oblique;
    line-height: 13px;
    margin-top: 5px;

    a{
      color: #777;
    }
  }
}
