@mixin grid-column($columns, $totalColumns: 12){
  width: ($columns / $totalColumns) * 100%;
}

@mixin offset-column($columns, $totalColumns: 12){
  margin-left: ($columns / $totalColumns) * 100%;
}

@mixin self-clear(){
  &:before, &:after{
    content: '';
    display: table;
  }
  &:after{
    clear: both;
  }
}