// For the header nav, please see the "header_footer" include.

nav{
  ul{
    list-style: none;
    margin: 0;

    &.horizontal{
      li{
        float: left;
        margin: 0;
      }

      a{
        display: inline-block;
        padding: 20px;
      }
    }

    &.social{
      @include font-size(30px);

      a{
        color: lighten($bodyTextColor, 40%);
        padding: 0 10px;
        @include transition(color .2s ease-in-out);

        &:focus, &:hover{
          color: $primaryColor;
        }
      }
    }
  }
}

#userControls{
  background: #252525;
  border-bottom: 1px solid #333;
  height: 50px;
  overflow: hidden;

  #userInfo{
    float: right;
  }

  img{
    @include transition(opacity .3s ease-in-out);
    opacity: .3;
  }

  ul{ margin: 0; }

  .ss-icons{
    margin-right: 1px;
  }

  a{
    color: #bbb;
    line-height: 50px;
    opacity: .3;
    padding: 0 $gridGutter/2;
    @include transition(opacity .3s ease-in-out);

    .ss-icons:before{
      position: relative;
      top: 1px;
    }
  }
  &:focus img, &:hover img{
    opacity: .8;
  }
  &:focus a, &:hover a{
    opacity: .8;
    @include transition(color .3s ease-in-out);

    &:hover, &:focus{
      opacity: .99;
      color: #fff;
      text-decoration: none;

      .ss-icons{
        color: lighten($primaryColor, 25%);
      }
    }
  }
}