// Do not include any style in base that should not be imported into the Rich Text Editor
html{
  font-size: ($baseSize / 16px) * 100%;
}
body{
  background: #fff;
  color: $bodyTextColor;
  @include stackBody;
  @include font-size($baseSize);
  line-height: 30px;
  @include font-smoothing(antialiased);
  text-rendering: optimizeLegibility;
  -webkit-widows: 2;
  widows: 2;
}

// Font basics
p{
  line-height: 30px;
  margin: 0 0 30px;

  &.center{
    text-align: center;
  }
  &.right{
    text-align: right;
  }
}
strong, b{ @include stackBodyBold; }
em, i{ font-style: oblique; }

// Headings
h1, .post_title{
  color: darken($headlineColor, 10%);
  @include font-size(56px);
  @include stackPrimaryHeadline;
  line-height: 60px;
  margin:0;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
  text-transform: capitalize;

  a{ 
    color: darken($headlineColor, 10%);

    &:hover, &:focus{
      color: $linkColor;
      text-decoration: none;
    }
  }
}

h2,h3,h4,h5,h6{ 
  color: $headlineColor;
  @include stackHeadline;
  margin: 0 0 30px;
}

h1,h2,h3,h4,h5,h6{
  &.center{
    text-align: center;
  }
  &.right{
    text-align: right;
  }
}


h2{
  @include font-size(30px);
  font-weight: 600;
  line-height: 45px;
}

h3{ 
  @include font-size(24px);
  font-weight: 600;
  line-height: 30px;
}

h4{ @include font-size($baseSize); }

blockquote{
  color: #999;
  @include stackQuote;
  @include font-size(30px);
  line-height: 45px;
  margin: 30px;
  position: relative;

  p{
    line-height: inherit;
    text-align: center;
    position: relative;
    z-index: 5;
  }

  cite{
    display: block;
    @include stackBodyBold;
    @include font-size(11px);
    text-transform: uppercase;
    text-align: right;

    &:before{
      content: '—';
    }

    .job{
      font-weight: normal;
      text-transform: none;
    }
  }
}

pre{
  background: #fff;
  border: 1px solid #ddddd9;
  line-height: 15px;
  padding: 30px;
  margin: 30px 0;
}

code{
  font-family: Monaco, Courier, "New Courier", sans-serif;
  @include font-size(13px);
}

small{
  color: #777;
  font-size: .75em;
}

// Lists
ul{
  list-style: disc;
  margin: 0 1em 1em 1.3em;
}
ol{
  list-style: decimal;
  margin: 0 1em 1em 1.5em;
}
li{
  margin: .5em 0;
}

// Links
a{
  color: $linkColor;
  text-decoration: none;

  &:hover, &:focus{
    outline:0 none transparent;
    text-decoration: underline;
  }
}

a.text.button{
  color: lighten($bodyTextColor, 30%);
  @include font-size(13px);
  vertical-align: middle;

  &:hover{
    color: #000;
    text-decoration: none;
  }
}

// Posts Specific
.post_title{
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}

.post_time{
  color: #999;
  display: block;
  @include font-size(13px);
  line-height: 30px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

@include breakpoint($breakpointSingleColumn){
  body{
    @include font-size(16px);
  }

  h1, .post_title{
    @include font-size(40px);
    line-height: 45px;
  }

  .post_title{ margin-bottom: 45px; }

  h2{ 
    @include font-size(24px);
    line-height: 30px;
  }

  blockquote{
    @include font-size(18px);
    line-height: 30px;
  }
}