.blog{
  #branding{
    margin-bottom: 40px;
  }

  // section{
  //   background: url(baseline-grid.gif);
  //   outline: 1px solid red;
  // }
}

.tilde{
  color: #ddd;
  @include font-size(100px);
  font-family: "Times New Roman", Times, serif;
  margin: 42px 0 24px;
  text-align: center;
}

.article.list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.landing_title{
  font-family: $headlineBoldStack;
  @include font-size(24px);
  font-weight: 700;
  margin-top: -3px;
  margin-bottom: 42px;
  text-align: center;
}

.post_preview{
  margin-bottom: 40px;
}

.pagination{
  margin-bottom: 60px;
}

.right{
  text-align: right;
}


.list{
  list-style: none;
  margin: 1em 0;
  padding: 0;

  // Comments List
  &.comment{
  }
  
}

.comment{
  margin: 0;  
}
.comment.byuser{
  margin-bottom: 20px;
}
.comment-body{
  background: #fafafa; 
  border: 1px solid #ddd;
  padding: 10px 10px 20px 100px;
  position: relative;
}
.comment-author .fn{
  @include stackBodyBold;
}
.comment-meta{ 
  @include font-size(13px);
  line-height:1;
  margin-bottom: 1em;

  a{
    color: #aaa;
  }
}
.comment-awaiting-moderation{
  background: #ffa;
  display: inline-block;
  padding: 5px 20px;
  margin-bottom: 10px;
}

.reply{
  margin-top: -1.5em;
  padding-right: 10px;
  position: absolute;
  right: 10px;
  text-align: right;
}
.comment-reply-link{
  color: #ccc;
  @include font-size(13px);
  display: inline-block;
  padding: 10px 0;

  &:before{
    font-family: SSStandard;
    content: '↩';
    margin-right: 5px;
    position: relative;
    top: 3px;
  }

  &:hover{
    color: $linkColor;
    text-decoration: none;
  }
}
.avatar{
  left: 0;
  position: absolute;
  top: 0;
}

// Comment Reply
.comment.list .children{
  list-style:none;
  margin: 0;

  .comment-body{
    border-top:none;
  }
}

@include breakpoint($breakpointLargeMobile){
  .avatar{
    height:50px;
    width:50px;
  }
  .comment-body{
    padding-left: 10px;
  }
  .comment-meta, .comment-author{
    padding-left: 60px;
  }
  .comment-awaiting-moderation{
    padding: 5px 10px;
    margin-left: 60px;
  }
  .reply{
    right: 0;
  }
}
