.blog{
  #branding{
    margin-bottom: 40px;
  }

  // section{
  //   background: url(baseline-grid.gif);
  //   outline: 1px solid red;
  // }
}

.tilde{
  color: #ddd;
  @include font-size(100px);
  font-family: "Times New Roman", Times, serif;
  margin: 42px 0 24px;
  text-align: center;
}

.article.list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.landing_title{
  font-family: $headlineBoldStack;
  @include font-size(24px);
  font-weight: 700;
  margin-top: -3px;
  margin-bottom: 42px;
  text-align: center;
}

.post_preview{
  margin-bottom: 40px;
}

.pagination{
  margin-bottom: 60px;
}

.right{
  text-align: right;
}