#projectOverview{
  background-color: darken($backgroundColor, 10%);
  background-size: 100% auto;
  margin-top: -100px;
  padding: 140px 0 40px;

  a{
    color: $bodyTextColor;
  }

  &.darkBG{
    color: #fff;
    @include text-shadow(rgba(0,0,0,.7) 1px 1px 3px);

    h1,h2,h3,h4,h5,h6,p,a{
      color: #fff;
    }
  }

  .screenshot{
    text-align: right;
  }

  h1{
    margin: 0;
  }
  .collaborators, .roles{
    
    margin: 3px 0 0;
  }
  .roles{
    strong{
      @include font-size(13px);
    }
    
    @include font-size(11px);
    font-style: oblique;
    line-height: 16px;
    margin-top: 20px;
  }
  .collaborators{
    line-height: 18px;
  }
}

#processFlow{
  margin-top: 40px;

  .row{
    border-bottom: 1px solid darken($backgroundColor, 10%);
    padding: 20px 0 40px 0;

    &:last-child{
      border: none;
    }
  }

  h3.sectionLabel.centered{
    margin-top: 0;
  }
}

// Kanguru specfic overrides
.kanguru.project{
  #projectOverview{
    background: #042b49 url(projects/kanguru/rainy-bg.jpg) no-repeat center 30%;
    // background: #F15A24;
    background-size: 100% auto;

    img{
      height: 400px;
      margin-top: -50px;
    }
  }
}

.projectDescription{
  font-weight: 200;
}