.projectImage{
  background:rgba(0,0,0,.4);
  border: 1px solid #aaa;
  display: block;
  margin-bottom: 10px;
}

.category.tags{
  // background: $primaryColor;
  color: #999;
  @include font-size(12px);
  text-transform: uppercase;
}
.portfolioLead{
  // background:rgba(0,0,0,.4);
}

.portfolioSample.list{
  margin: 0;

  li{
    @include box-sizing(border-box);
    float: left;
    padding: 0 10px 20px;
    width:25%;
    
    &:nth-child(4n+5){
      clear: both;
    }
  }

  .projectTitle, .category.tags{
    line-height: 1;
    margin: 0;
  }
}

.projectTitle{
  @include font-size(20px);
}

.sectionTitle{
  margin-bottom: 5px;
}

.recentWork{
  margin-top: 40px;
}

@include breakpoint(900px){
  .portfolioSample.list li{ 
    width: 33%; 

    &:nth-child(4n+5){
      clear: none;
    }

    &:nth-child(3n+4){
      clear: both;
    }
  }
}

@include breakpoint(650px){
  .portfolioSample.list li{ 
    width: 50%;

    &:nth-child(3n+4){
      clear: none;
    }

    &:nth-child(2n+3){
      clear: both;
    }
  }
}

@include breakpoint(480px){
  .portfolioSample.list li{ width: 100%; }
}